@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap&subset=latin-ext');

* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #102542;
    margin: 2rem 3rem; 
}

.container {
    padding: 0;
}

.view {
    min-height: 85vh;
}

#contact {
    min-height: 20vh;
    margin-top: 3rem;
    align-items: center;
}

/* Navigation */
.navbar {
    min-height: 10vh;
    padding: 0;
}

.navbar-toggler-icon {
    color: #102542 !important;
}

.navbar-nav {
    flex-direction: column;
    align-items: center;
}

.navbar-brand {
    font-size: 16px;
    font-weight: 600;
}

.navbar-nav>li {
    padding-left: 40px;
    opacity: 80%;
}

.nav a:hover {
    text-decoration: underline;
    color: #02adfd;
}

/* Projekte */
.card {
    border-style: none;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.card-hover:hover {
    background-color: #102542;
    color: white;
    cursor: pointer;
}

.card-body {
    padding: 2rem;
}

.card-img-top {
    border-radius: 10px 10px 0px 0px;
}

/* Icons */
.fab {
    padding-right: 30px;
}

.fab:hover {
    color: #02adfd;
    text-decoration: none;
}

.fa-map-marker-alt {
    color: #02adfd;
    padding-right: 15px;
}

/* Buttons */
.btn-primary {
    display: block;
    border: 2px solid #102542;
    background-color: transparent;
    color: #102542;
    font-weight: 600;
    border-radius: 30px;
    padding: 10px 30px;
    min-height: 50px;
    width: fit-content;
}

.btn-primary:hover {
    background-color: #02adfd;
    color: #102542;
    border: 2px solid #102542;
}

/* Typography */
#title {
    font-weight: 700;
    font-style: normal;
    font-size: 4rem;
    line-height: 1.2;
}

p {
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

h2 {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: normal;
}

h3 {
    font-size: 1rem;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.2rem
}

.text-bold {
    font-weight: 600;
}

.text-muted {
    opacity: 80%;
    font-size: 0.85rem; 
}

.text-link {
    text-decoration: underline;
}

a[class="text-link"] {
    color: #102542;
    opacity: 80%;
}

a[class="text-link"]:hover {
    color: #02adfd;
}

/* Kleinere Überschriften auf schmalen mobilen Geräten */
@media (max-width: 576px) {
    #title {
        font-size: xx-large !important;
    }

    #subtitle {
        font-size: large !important;
    }
}

@media (max-width: 430px) {
    #title {
        font-size: xx-large !important;
    }

    #subtitle {
        font-size: large !important;
    }
}

/* Kleinerer margin auf mobilen Geräten */
@media (max-width: 576px) {
    body {
        margin: 2rem 1rem;
    }
}

/* Colors */
.dark-blue {
    color: #102542;
}

.blue {
    color: #02adfd;
}

.light-grey {
    color: #BDBDBD;
}

.white {
    color: #FAFAFA;
}