@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,600&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap&subset=latin-ext');


html {
    scroll-behavior: smooth;
}

body {
    background-color: #fafafa;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #212121;
}

.view {
    min-height: 85vh;
}

.jumbotron {
    background-color: transparent;
    margin-top: 6rem;
}

.display {
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
}

#kontaktinformation {
    background-color: #263238;
    color: white;
}

/* Navigation */
.navbar {
    min-height: 15vh;
}

.navbar-toggler-icon {
    color: #263238 !important;
}

.navbar-nav {
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}

.navbar-nav>li {
    padding-right: 40px;
}

.nav a {
    color: #263238;
}

.nav a:hover {
    color: #FA7269;
}

/* Intro */
#intro {
    max-width: 800px;
}

.card {
    border-style: none;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 1.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-hover:hover {
    background-color: #263238;
    color: white;
    cursor: pointer;
}

.card-body {
    padding: 2rem;
}

.card-img-top {
    border-radius: 10px 10px 0px 0px;
}

/* Icons */
.fab {
    color: #263238;
    padding-right: 30px;
    padding-left: 15px;
}

.fab:hover {
    color: #fbaa2c;
    text-decoration: none;
}

.fa-map-marker-alt {
    color: #fbaa2c;
    padding-right: 15px;
}

/* Buttons */
.btn-primary {
    background-color: #263238;
    color: white;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    border-radius: 30px;
    padding: 10px 15px;
}

.btn-primary:hover {
    background-color: #FA7269;
    color: white;
    border-color: #FA7269;
    border-width: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border-radius: 30px;
    padding: 10px 15px;
}

.btn-secondary {
    background-color: transparent;
    color: #FA7269;
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 10px 0;
}

.btn-secondary:hover {
    background-color: transparent;
    color: #BDBDBD;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 10px 0;
}

/* Typography */
p {
    font-weight: 400;
    font-style: normal;
}

#title {
    font-weight: 600;
    font-style: normal;
    font-size: 4rem;
    line-height: 1.2;
}

#subtitle {
    font-weight: 200;
    font-style: normal;
    font-size: 1.5rem;
}

b {
    font-weight: 600;
}

h1, h4 {
    font-weight: 600;
}

/* Kleinere Überschriften auf schmalen mobilen Geräten */
@media (max-width: 576px) {
    #title {
        font-size: xx-large !important;
    }

    #subtitle {
        font-size: large !important;
    }
}

@media (max-width: 430px) {
    #title {
        font-size: xx-large !important;
    }

    #subtitle {
        font-size: large !important;
    }
}

/* --- Colors ---*/
.light-grey {
    color: #BDBDBD;
}

.white {
    color: #FAFAFA;
}

.dark-grey {
    color: #212121;
}